body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #1a0b3d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #161B40;
    color: white;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

nav {
    background-color: #192057;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

footer {
    background-color: #161B40;
    color: #bdc3c7;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
    font-size: 1.1rem;
}


.crud-container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10 30px 30px 30px;
    border-radius: 8px; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    text-align: left;
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    color: #495057;
    font-size: 14px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ced4da; /* keret az inputnak */
    border-radius: 4px; /* lekerekített beviteli mező */
    box-sizing: border-box;
    font-size: 15px;
    color: #212529;
    transition: border-color 0.2s, box-shadow 0.2s;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px; /* minden gomb sarka le van kerekítve */
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn-add {
    background-color: #0d6efd;
    color: white;
}

.btn-cancel {
    background-color: #6c757d; 
    color: white;
    margin-left: 10px;
}

.btn-edit {
    background-color: #ffc107; 
    color: #000;
    padding: 6px 12px;
    margin-right: 5px;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
    padding: 6px 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6; 
    vertical-align: middle;
}

th {
    font-weight: 600;
    border-bottom: 2px solid #dee2e6; 
}